.nav {
  display: inline;
}
.nav li {
  display: inline;
  margin-left: 50px;
  margin-top: 10px;
}
.nav li:first-child {
  margin-left: 0px;
}
a {
  text-decoration: none;
}
.left {
  float: right;
}

.button {
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.login {
  background-color: cadetblue;
}
.register {
  background-color: darkslategray;
}
